* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  justify-content: center;
  padding: 60px 20px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.contact-box i {
  border: 2px solid;
  border-radius: 100%;
  padding: 10px;
  font-size: 35px;
  background-color: #dddddd;
  color: rgb(101, 102, 103);
  transition: transform 0.5s;
}

.contact-box:hover i {
  transform: scale(1.3);
}

.contact-box p {
  font-size: 18px;
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.map {
  flex: 1 1 50%;
}

.map iframe {
  width: 100%;
  height: 100%;
  min-height: 400px;
  border: 0;
  border-radius: 10px;
}

.info-contact {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name,
.email,
.mobile-contact,
.message {
  display: flex;
  flex-direction: column;
}

.info-contact input,
.info-contact textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid;
  background-color: white;
  margin-top: 5px;
  padding-left: 10px;
  border-radius: 5px;
}

.info-contact input:focus-visible,
.info-contact textarea:focus-visible {
  background-color: #f2ffde;
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
  transition: 0.8s;
}

/* Button Styling */

button{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 120px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #9bc96d;
  color: white;
}

/* Responsive Design */
@media (max-width: 769px) {
  .contact {
    grid-template-columns: repeat(2, 1fr);
  }

  .second {
    flex-direction: column;
  }

  .map,
  .info-contact {
    flex: 1 1 100%;
  }

  .info-contact {
    padding-top: 30px;
  }
}

@media (max-width: 426px) {
  .contact {
    grid-template-columns: 1fr;
  }

  .contact-box p {
    font-size: 16px;
    padding: 0 10px;
  }

  .map iframe {
    height: 300px;
  }

  .info-contact {
    padding: 20px 0;
  }
}
